/* Style sheet for my lab 5 assignment. */

body {
  background-image: url("/images/milkyway.jpg");
}
h1 {
  location: relative;
  text-align: center;
  padding: 10px;
  text-color: #red;
}
th {
  text-align: left;
}
