/* Style sheet for my lab 5 assignment. */

body {
  background-image: url("/images/milkyway.jpg");
}
h1 {
  location: relative;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-color: #FAFA19;
  font-weight: bold;
  font-family: 'Castellar', sans-serif;
}
th {
  text-align: left;
}
